$cracker-flex-basis: 47%;

.cracker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;

        &-left{
            &>svg {
                height: 45px;
            }
        flex-basis: 50%;
        height: 50px;
        text-align: right;
        animation-name: leftcracker;
            animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }

    /* The animation code */
    @keyframes leftcracker {
        0% {
            flex-basis:50%;
            opacity: 0;
        }
        75% {
            flex-basis: $cracker-flex-basis;
            opacity: 1;
        }
        100% {
            flex-basis: $cracker-flex-basis;
            opacity: 0;
        }
    }

    &-right{
        &>svg {
            height: 45px;
        }

        flex-basis: 50%;
        height: 50px;
        text-align: left;
        animation-name: rightcracker;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        }

        /* The animation code */
        @keyframes rightcracker {
        0% {
            flex-basis:50%;
            opacity: 0;
        }
        75% {
            flex-basis: $cracker-flex-basis;
            opacity: 1;
        }

        100% {
            flex-basis: $cracker-flex-basis;
            opacity: 0;
        }
    }
}
