@font-face {
    font-family: 'butlerblack';
    src: url('../fonts/butler_black-webfont.woff2') format('woff2'),
         url('../fonts/butler_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'butler';
    src: url('../fonts/butler_bold-webfont.woff2') format('woff2'),
         url('../fonts/butler_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'butler';
    src: url('../fonts/butler_extrabold-webfont.woff2') format('woff2'),
         url('../fonts/butler_extrabold-webfont.woff') format('woff');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'butler';
    src: url('../fonts/butler_light-webfont.woff2') format('woff2'),
         url('../fonts/butler_light-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;

}

@font-face {
    font-family: 'butler';
    src: url('../fonts/butler_medium-webfont.woff2') format('woff2'),
         url('../fonts/butler_medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'butlerregular';
    src: url('../fonts/butler_regular-webfont.woff2') format('woff2'),
         url('../fonts/butler_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'butlerultralight';
    src: url('../fonts/butler_ultra_light-webfont.woff2') format('woff2'),
         url('../fonts/butler_ultra_light-webfont.woff') format('woff');
    font-weight: 100;
    font-style: normal;

}
