@import 'fonts';

// 1. Import the initial variables
@import "../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../node_modules/bulma/sass/utilities/functions";

$family-serif: "butler";
$family-primary: $family-serif;
$orange: #fb5a40;
$primary: $orange;


// 5. Add new color variables to the color map.
@import "../../../node_modules/bulma/sass/utilities/derived-variables.sass";

// 6. Import the rest of Bulma
@import "../../../node_modules/bulma/bulma";

// Local imports
@import 'generic';
@import 'home';
@import 'cracker';
