.template-hello {
    text-align: center;
    padding-top: 100px;

    .show-if-generating-video {
        display: none;
    }

    .hide-if-generating-video {
        display: block;
    }

    .intro-text {
        margin-bottom: 30px;
        font-weight: $weight-light;
        font-size: 1.25rem;
    }

    .hello-wrapper {
        margin: 0 auto;
        max-width: 600px;
    }

    .holly-graphic {
        width: 90px;
        height: 79px;
        margin-bottom: 30px;
    }

    .help {
        margin-top: 2rem;
        font-weight: $weight-light;
    }

    .button {
        display: block;
        margin: auto;
        padding-right: 2em;
        padding-left: 2em;
    }

    .torchbox-logo {
        &-container {
            @media screen and (min-height: 700px) {
                position: fixed;
                left: 50%;
                margin: 0;
                margin-left: -75px;
                bottom: 40px;
            }
        }
    }

    .loading-section {
        @media screen and (min-height: 700px) {
            position: fixed;
            width: 600px;
            margin-top: -100px;
            margin-left: -300px;
            top: 50%;
            left: 50%;
        }
    }
}
