.template-video {
    .torchbox-logo-container {
        @media screen and (min-width: $tablet) {
            background-color: $white;
            margin: 0;
            position: fixed;
            bottom: 30px;
    	    right: 30px;
        }
    }
}
