<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Beatbox{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    {% block extra_css %}{% endblock %}
  </head>
  <body class="template {% block body_class %}{% endblock %}">
      {% block content %}{% endblock %}
      <footer>
        <div class="torchbox-logo-container">
          <a href="http://torchbox.com/">
            <svg class="torchbox-logo" viewBox="0 0 244.2 57.1">
              <use xlink:href="{{ url_for('static', filename='images/sprites.svg') }}#torchbox-logo"></use>
            </svg>
          </a>
        </div>
      </footer>
      <script
    	  src="https://code.jquery.com/jquery-3.2.1.min.js"
    	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    	  crossorigin="anonymous"></script>
      <script src="{{ url_for('static', filename='js/main.js')}}"></script>
      {% block extra_js %}
      {% endblock %}
  </body>
</html>
