{% extends "base.html" %}
{% block content %}
  <section class="section">
    <div class="container">
      <h1 class="title">
        Happy Christmas
      </h1>
      <p class="subtitle">
        With love from <strong>Torchbox</strong>!
      </p>
      <form action = "{{ url_for('create') }}" id="postcard-create-form" method="POST">
        <div class="field">
            <label class="label">Send a message</label>
            <div class="control">
            <input class="input" name="message" required pattern="[A-Za-z\s]+" {% if message_max_length %} maxlength="{{ message_max_length }}" {% endif %} type="text" placeholder="Your message">
            </div>
            <p class="help">You can only use the letters A, C, E, P, S and T. Spaces are OK.</p>
        </div>
        <div class="control">
            <button class="button is-primary">Submit</button>
        </div>
      </form>
      <h1 style="display: none;" class="title" id="loading-label">Generating video...</h1>
    </div>
  </section>
{% endblock %}
