{% extends "base.html" %}
{% block extra_head %}
  <meta property="og:video" content="{{ video_url }}">
  <meta property="twitter:player:stream" content="{{ video_url }}">
{% endblock %}
{% block title %}{{ message }}{% endblock %}
{% block content %}

  <svg>
    <use xlink:href="{{ url_for('static', filename='images/sprites.svg') }}#video-cracker-left" viewBox="0 0 602.53 379.5"></use>
  </svg>

  <svg>
    <use xlink:href="{{ url_for('static', filename='images/sprites.svg') }}#video-confetti" viewBox="0 0 1179.19 736.88"></use>
  </svg>

  <svg>
    <use xlink:href="{{ url_for('static', filename='images/sprites.svg') }}#video-cracker-right" viewBox="0 0 635.74 339.82"></use>
  </svg>

  <video src="{{ video_url }}" controls class="video-player">
    <a href="{{ video_url }}">Click here to watch the video.</a>
  </video>
  <section class="section">
    <div class="container">
      <p><a class="button is-primary is-large" href="{{ url_for('index') }}">Make another one</a></p>
      <br>
      <h2 class="title is-2">Share</h2>
      <div class="field">
        <label class="label">Share to social media</label>
        <div class="js-socials-container"></div>
      </div>
      <div class="field">
        <label class="label">Share URL</label>
        <div class="control">
          <input class="input" readonly type="text" value="{{ share_url }}">
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-flat.css">
{% endblock %}
{% block extra_js %}
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
  <script>
    window.shareURL = '{{ share_url }}';
  </script>
{% endblock %}
